body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(208, 208, 208);
}

code {
  font-family: 'Montserrat', sans-serif;
}
