body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/1.jpg');
  background-size:cover;
}

code {
  font-family: 'Montserrat', sans-serif;
}
